<IfModule mod_expires.c>
    ExpiresActive on
 
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
</IfModule>

<IfModule mod_rewrite.c>
    
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    #RewriteCond %{HTTP_HOST} ^www\.laravelcms\.net$
    #RewriteRule ^/?$ "http\:\/\/laravelcms\.net\/" [R=301,L]
    #RewriteCond %{HTTP_HOST} ^210\.211\.121\.20
    #RewriteRule (.*) http://laravelcms.net/$1 [R=301,L]

    RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
    RewriteRule .* ? [F,L]

    <Files contents/uploads/*>
        allow from all
    </Files>
    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>
