@import url("customs.css");
body{
	overflow-x: hidden;
	background-color: #00ade1;
}
ul{
	list-style: none;
	padding: 0;
}
a, a:hover{
	text-decoration: none;
	cursor: pointer;
}
/*
Main Layout
*/
.main-body{

}
.main-contents{
	padding-bottom: 30px;
}


.modal-backdrop{
	z-index: 1 !important;
}
.fullwith{
	width:100%;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
.notes.alert{
	position: fixed;
	right: 10px;
	width:300px;
	bottom: 10px; 
	z-index: 101;
}



header{
	min-height: 160px;
	background:url(images/header.png) left top; 
	background-repeat: repeat-x;
	border-bottom:2px solid #FFF;
}


.navbar-menu .navbar-nav > li{
	border-left:1px solid #0d2f4d;
	border-right:0px solid #4990cd;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-menu .navbar-nav > li > a{
	color: #023467;
}

.navbar-menu .navbar-nav > li:hover > a{
	color: #ec4300;
}

.navbar-style{
	
}



/*
Search Box
*/

.search-box{
	padding: 15px;
	background-color: #F0F2F5;
	margin-bottom: 30px;
}


.tags-cloud{
	border: 1px solid #ddd;
	padding: 5px;
	float: left;
	margin-right: 5px;
	margin-bottom:5px; 
}
.row.magic-form > [class*=col-]{
	margin-bottom: 10px;
}


.news{
	min-height: 300px;
}
.gallery{
	background-color: #FFF;
	min-height: 300px;
}
.project{
	background-color: #cacaca;
	min-height: 300px;
}

.parents{
	background-color: #FFF;
	min-height: 300px;
}

footer{
	background-color: #f2f2f2;
}

.widgets{

}
.widgets-left{

}

.widgets-right{
	
}


.widgets-footer{
	
}